body {
    padding: 50px; 
  }

  .separate {
    height: 100px;
    width: 100%;
}

.spinning {
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

  .cercle
  {
      width: 100px;
      padding: 50px 0;
      line-height: 0;
      background-color: black;
      color: white;
      border-radius: 50px;
      cursor: pointer;
      transition: 1s;
  }


  .cercle:hover {
    background-color: #C3A995;
    transform: rotate(360deg);
  }


  .objet
  {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    animation-name: mouvement;
    animation-duration: 3s;
  }

        /* Tentative au scroll */
        /* *{
            margin: 0;
            padding: 0;
        }
        body{
        
            background: #000;
        }
        section {
            height: 4400px;
            width: 100%;
        }
        .cscroll{
            background: whitesmoke;
            height: 500px;
            width: 200px;
            position: absolute;
            left: -215px;
            top: 5000px;
        }
        .scroll{
            right: -215px;
        } */

marquee{
    width:100%;
    font-size:64px;
    font-weight:bold;
}    

  @keyframes mouvement {
      from{
          transform: translateX(-200px);
      }
      to{
          transform: translateX(1500px);
      }
  }


  .texte {
    top: 100px;
    height: 100px;
  }

  .message {
      font-size: 50px;
      animation-name: mouvement;
      animation-duration: 10s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
  }